<a href="https://colab.research.google.com/github/RafifAlzayat/thecoolteam-/blob/ava-branch/Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [567 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,324 kB]
Get:19 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [718 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,799 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,760 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [921 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [600 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 13.6 MB in 5s (2,848 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-16 01:05:24--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-16 01:05:24 (6.64 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Covid-Analysis").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
import json
import requests
from pyspark.sql import functions as F
from urllib.request import Request, urlopen
from pyspark import SparkContext

In [5]:
from pyspark import SparkFiles
url ="https://rafifcoviddata.s3.amazonaws.com/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv"
spark.sparkContext.addFile(url)
covid_data_df = spark.read.csv(SparkFiles.get("COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv"), sep=",", header=True, inferSchema=True)

In [ ]:
covid_data_df.show()

+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
|case_month|res_state|state_fips_code|res_county|county_fips_code|     age_group|   sex|   race|ethnicity|case_positive_specimen_interval|case_onset_interval|            process|exposure_yn|      current_status|symptom_status|hosp_yn| icu_yn|death_yn|underlying_conditions_yn|
+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
|   2020-06|       OH|             39|   BELMONT|           39013|            NA|    NA|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      NA|                     Yes|
|   2020-09|       OH|             39|    GALLIA|           39053|  0 - 17 years|    NA|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      No|                    null|
|   2020-11|       PA|             42|       ELK|           42047|18 to 49 years|    NA|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Unknown|     No|Unknown| Unknown|                    null|
|   2021-02|       AL|             01|TALLAPOOSA|           01123|       Missing|Female|Missing|  Missing|                           null|               null|            Missing|    Missing|       Probable Case|       Missing|Missing|Missing| Missing|                    null|
|   2020-12|       IA|             19|   CARROLL|           19027|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|       Probable Case|   Symptomatic|Missing|Missing| Missing|                    null|
|   2020-12|       CO|             08|    ELBERT|           08039|  0 - 17 years|Female|Missing|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing| Missing|                    null|
|   2020-07|       SC|             45|    JASPER|           45053|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing|      No|                    null|
|   2021-05|       OH|             39| JEFFERSON|           39081|  0 - 17 years|Female|     NA|       NA|                              1|                  0|Clinical evaluation|        Yes|       Probable Case|   Symptomatic|     No|     No|      No|                      No|
|   2020-11|       MI|             26|   LENAWEE|           26091|  0 - 17 years|Female|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|     No|Missing|      NA|                    null|
|   2020-10|       IL|             17| ST. CLAIR|           17163|  0 - 17 years|Female|Missing|  Missing|                           null|                  0|            Missing|    Missing|       Probable Case|       Missing|Missing|Missing| Missing|                    null|
|   2021-04|       IL|             17|STEPHENSON|           17177|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|       Probable Case|       Missing|     No|Missing| Missing|                    null|
|   2020-11|       OH|             39|WASHINGTON|           39167|  0 - 17 years|Female|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      NA|                    null|
|   2020-09|       WA|             53|    ASOTIN|           53003|18 to 49 years|Female|     NA|       NA|                              0|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing| Missing|                    null|
|   2020-10|       OH|             39|  AUGLAIZE|           39011|18 to 49 years|Female|     NA|       NA|                           null|                  0|Clinical evaluation|    Unknown|       Probable Case|   Symptomatic|     No|Missing| Unknown|                    null|
|   2020-11|       OH|             39|  DEFIANCE|           39039|18 to 49 years|Female|     NA|       NA|                              0|                  0|Clinical evaluation|    Unknown|Laboratory-confir...|   Symptomatic|     No|     No|      No|                     Yes|
|   2020-11|       MI|             26|     EMMET|           26047|18 to 49 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing|      NA|                    null|
|   2020-11|       GA|             13|  HARALSON|           13143|18 to 49 years|Female|Unknown|  Missing|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|Missing|Missing| Missing|                    null|
|   2021-02|       OH|             39|      PIKE|           39131|18 to 49 years|Female|     NA|       NA|                           null|                  0|Clinical evaluation|        Yes|Laboratory-confir...|   Symptomatic|     No|     No|      NA|                     Yes|
|   2020-08|       IN|             18|   SPENCER|           18147|18 to 49 years|Female|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      No|                    null|
|   2020-10|       GA|             13|  STEPHENS|           13257|18 to 49 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|Missing|Missing| Missing|                    null|
+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
only showing top 20 rows

In [6]:
#dropped na values
covid_data_df_dropped = covid_data_df.dropna(how = 'all')

In [7]:
covid_data_df_dropped.show()

+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
|case_month|res_state|state_fips_code|res_county|county_fips_code|     age_group|   sex|   race|ethnicity|case_positive_specimen_interval|case_onset_interval|            process|exposure_yn|      current_status|symptom_status|hosp_yn| icu_yn|death_yn|underlying_conditions_yn|
+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
|   2020-06|       OH|             39|   BELMONT|           39013|            NA|    NA|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      NA|                     Yes|
|   2020-09|       OH|             39|    GALLIA|           39053|  0 - 17 years|    NA|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      No|                    null|
|   2020-11|       PA|             42|       ELK|           42047|18 to 49 years|    NA|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Unknown|     No|Unknown| Unknown|                    null|
|   2021-02|       AL|             01|TALLAPOOSA|           01123|       Missing|Female|Missing|  Missing|                           null|               null|            Missing|    Missing|       Probable Case|       Missing|Missing|Missing| Missing|                    null|
|   2020-12|       IA|             19|   CARROLL|           19027|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|       Probable Case|   Symptomatic|Missing|Missing| Missing|                    null|
|   2020-12|       CO|             08|    ELBERT|           08039|  0 - 17 years|Female|Missing|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing| Missing|                    null|
|   2020-07|       SC|             45|    JASPER|           45053|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing|      No|                    null|
|   2021-05|       OH|             39| JEFFERSON|           39081|  0 - 17 years|Female|     NA|       NA|                              1|                  0|Clinical evaluation|        Yes|       Probable Case|   Symptomatic|     No|     No|      No|                      No|
|   2020-11|       MI|             26|   LENAWEE|           26091|  0 - 17 years|Female|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|     No|Missing|      NA|                    null|
|   2020-10|       IL|             17| ST. CLAIR|           17163|  0 - 17 years|Female|Missing|  Missing|                           null|                  0|            Missing|    Missing|       Probable Case|       Missing|Missing|Missing| Missing|                    null|
|   2021-04|       IL|             17|STEPHENSON|           17177|  0 - 17 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|       Probable Case|       Missing|     No|Missing| Missing|                    null|
|   2020-11|       OH|             39|WASHINGTON|           39167|  0 - 17 years|Female|     NA|       NA|                           null|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      NA|                    null|
|   2020-09|       WA|             53|    ASOTIN|           53003|18 to 49 years|Female|     NA|       NA|                              0|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing| Missing|                    null|
|   2020-10|       OH|             39|  AUGLAIZE|           39011|18 to 49 years|Female|     NA|       NA|                           null|                  0|Clinical evaluation|    Unknown|       Probable Case|   Symptomatic|     No|Missing| Unknown|                    null|
|   2020-11|       OH|             39|  DEFIANCE|           39039|18 to 49 years|Female|     NA|       NA|                              0|                  0|Clinical evaluation|    Unknown|Laboratory-confir...|   Symptomatic|     No|     No|      No|                     Yes|
|   2020-11|       MI|             26|     EMMET|           26047|18 to 49 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|     No|Missing|      NA|                    null|
|   2020-11|       GA|             13|  HARALSON|           13143|18 to 49 years|Female|Unknown|  Missing|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|Missing|Missing| Missing|                    null|
|   2021-02|       OH|             39|      PIKE|           39131|18 to 49 years|Female|     NA|       NA|                           null|                  0|Clinical evaluation|        Yes|Laboratory-confir...|   Symptomatic|     No|     No|      NA|                     Yes|
|   2020-08|       IN|             18|   SPENCER|           18147|18 to 49 years|Female|     NA|       NA|                              0|               null|            Missing|    Missing|Laboratory-confir...|       Missing|Missing|Missing|      No|                    null|
|   2020-10|       GA|             13|  STEPHENS|           13257|18 to 49 years|Female|     NA|       NA|                           null|                  0|            Missing|    Missing|Laboratory-confir...|   Symptomatic|Missing|Missing| Missing|                    null|
+----------+---------+---------------+----------+----------------+--------------+------+-------+---------+-------------------------------+-------------------+-------------------+-----------+--------------------+--------------+-------+-------+--------+------------------------+
only showing top 20 rows

In [8]:
covid_data_df_dropped

DataFrame[case_month: string, res_state: string, state_fips_code: string, res_county: string, county_fips_code: string, age_group: string, sex: string, race: string, ethnicity: string, case_positive_specimen_interval: int, case_onset_interval: int, process: string, exposure_yn: string, current_status: string, symptom_status: string, hosp_yn: string, icu_yn: string, death_yn: string, underlying_conditions_yn: string]

In [9]:
# Drop Columns: case_month, state_fips, county_fips, case positive specimen interval, case onset interval, process, exposure, current status, icu, death, underlying condition, symptom status
columns_to_drop = ['case_month', 'state_fips_code', 'county_fips_code','underlying_conditions_yn', "symptom_status", 'case_positive_specimen_interval', 'case_onset_interval', 'process', 'exposure_yn', 'current_status', 'icu_yn', 'death_yn']
covid_data_df_dropped_columns = covid_data_df_dropped.drop(*columns_to_drop)

In [10]:
covid_data_df_dropped_columns.show()

+---------+----------+--------------+------+-------+---------+-------+
|res_state|res_county|     age_group|   sex|   race|ethnicity|hosp_yn|
+---------+----------+--------------+------+-------+---------+-------+
|       OH|   BELMONT|            NA|    NA|     NA|       NA|Missing|
|       OH|    GALLIA|  0 - 17 years|    NA|     NA|       NA|Missing|
|       PA|       ELK|18 to 49 years|    NA|     NA|       NA|     No|
|       AL|TALLAPOOSA|       Missing|Female|Missing|  Missing|Missing|
|       IA|   CARROLL|  0 - 17 years|Female|     NA|       NA|Missing|
|       CO|    ELBERT|  0 - 17 years|Female|Missing|       NA|Missing|
|       SC|    JASPER|  0 - 17 years|Female|     NA|       NA|     No|
|       OH| JEFFERSON|  0 - 17 years|Female|     NA|       NA|     No|
|       MI|   LENAWEE|  0 - 17 years|Female|     NA|       NA|     No|
|       IL| ST. CLAIR|  0 - 17 years|Female|Missing|  Missing|Missing|
|       IL|STEPHENSON|  0 - 17 years|Female|     NA|       NA|     No|
|       OH|WASHINGTON|  0 - 17 years|Female|     NA|       NA|Missing|
|       WA|    ASOTIN|18 to 49 years|Female|     NA|       NA|     No|
|       OH|  AUGLAIZE|18 to 49 years|Female|     NA|       NA|     No|
|       OH|  DEFIANCE|18 to 49 years|Female|     NA|       NA|     No|
|       MI|     EMMET|18 to 49 years|Female|     NA|       NA|     No|
|       GA|  HARALSON|18 to 49 years|Female|Unknown|  Missing|Missing|
|       OH|      PIKE|18 to 49 years|Female|     NA|       NA|     No|
|       IN|   SPENCER|18 to 49 years|Female|     NA|       NA|Missing|
|       GA|  STEPHENS|18 to 49 years|Female|     NA|       NA|Missing|
+---------+----------+--------------+------+-------+---------+-------+
only showing top 20 rows

In [11]:
covid_data_df_dropped_columns_hospital = covid_data_df_dropped_columns.where(covid_data_df_dropped_columns.hosp_yn != 'Missing')

In [12]:
covid_data_df_dropped_columns_hospital.show()

+---------+----------+--------------+------+--------------+---------+-------+
|res_state|res_county|     age_group|   sex|          race|ethnicity|hosp_yn|
+---------+----------+--------------+------+--------------+---------+-------+
|       PA|       ELK|18 to 49 years|    NA|            NA|       NA|     No|
|       SC|    JASPER|  0 - 17 years|Female|            NA|       NA|     No|
|       OH| JEFFERSON|  0 - 17 years|Female|            NA|       NA|     No|
|       MI|   LENAWEE|  0 - 17 years|Female|            NA|       NA|     No|
|       IL|STEPHENSON|  0 - 17 years|Female|            NA|       NA|     No|
|       WA|    ASOTIN|18 to 49 years|Female|            NA|       NA|     No|
|       OH|  AUGLAIZE|18 to 49 years|Female|            NA|       NA|     No|
|       OH|  DEFIANCE|18 to 49 years|Female|            NA|       NA|     No|
|       MI|     EMMET|18 to 49 years|Female|            NA|       NA|     No|
|       OH|      PIKE|18 to 49 years|Female|            NA|       NA|     No|
|       FL|    TAYLOR|18 to 49 years|Female|            NA|       NA|     No|
|       KY|   LINCOLN|50 to 64 years|Female|            NA|       NA|     No|
|       VA|   PULASKI|50 to 64 years|Female|            NA|       NA|     No|
|       UT|    CARBON|     65+ years|Female|            NA|       NA|     No|
|       KY|   LETCHER|     65+ years|Female|            NA|       NA|     No|
|       NC|    PERSON|     65+ years|Female|            NA|       NA|Unknown|
|       NC|   MADISON|  0 - 17 years|  Male|            NA|       NA|     No|
|       OH|   LICKING|18 to 49 years|Female|         Asian|       NA|    Yes|
|       NC|   HALIFAX|18 to 49 years|Female|         Black|       NA|     No|
|       VT|   RUTLAND|18 to 49 years|Female|Multiple/Other|       NA|     No|
+---------+----------+--------------+------+--------------+---------+-------+
only showing top 20 rows

In [13]:
#drop missing values from hospitalization column
covid_data_df_dropped_columns_hospital_again = covid_data_df_dropped_columns_hospital.where(covid_data_df_dropped_columns.hosp_yn != 'Unknown')
covid_data_df_dropped_columns_hospital_na = covid_data_df_dropped_columns_hospital_again.where(covid_data_df_dropped_columns_hospital_again.hosp_yn!='NA')
covid_data_df_dropped_columns_hospital_null = covid_data_df_dropped_columns_hospital_na.where(covid_data_df_dropped_columns_hospital_na.hosp_yn!='null')
covid_data_df_dropped_columns_hospital_null.show()

+---------+----------+--------------+------+--------------+---------------+-------+
|res_state|res_county|     age_group|   sex|          race|      ethnicity|hosp_yn|
+---------+----------+--------------+------+--------------+---------------+-------+
|       PA|       ELK|18 to 49 years|    NA|            NA|             NA|     No|
|       SC|    JASPER|  0 - 17 years|Female|            NA|             NA|     No|
|       OH| JEFFERSON|  0 - 17 years|Female|            NA|             NA|     No|
|       MI|   LENAWEE|  0 - 17 years|Female|            NA|             NA|     No|
|       IL|STEPHENSON|  0 - 17 years|Female|            NA|             NA|     No|
|       WA|    ASOTIN|18 to 49 years|Female|            NA|             NA|     No|
|       OH|  AUGLAIZE|18 to 49 years|Female|            NA|             NA|     No|
|       OH|  DEFIANCE|18 to 49 years|Female|            NA|             NA|     No|
|       MI|     EMMET|18 to 49 years|Female|            NA|             NA|     No|
|       OH|      PIKE|18 to 49 years|Female|            NA|             NA|     No|
|       FL|    TAYLOR|18 to 49 years|Female|            NA|             NA|     No|
|       KY|   LINCOLN|50 to 64 years|Female|            NA|             NA|     No|
|       VA|   PULASKI|50 to 64 years|Female|            NA|             NA|     No|
|       UT|    CARBON|     65+ years|Female|            NA|             NA|     No|
|       KY|   LETCHER|     65+ years|Female|            NA|             NA|     No|
|       NC|   MADISON|  0 - 17 years|  Male|            NA|             NA|     No|
|       OH|   LICKING|18 to 49 years|Female|         Asian|             NA|    Yes|
|       NC|   HALIFAX|18 to 49 years|Female|         Black|             NA|     No|
|       VT|   RUTLAND|18 to 49 years|Female|Multiple/Other|             NA|     No|
|       WA|    CHELAN|  0 - 17 years|Female|       Missing|Hispanic/Latino|     No|
+---------+----------+--------------+------+--------------+---------------+-------+
only showing top 20 rows

In [14]:
# remove missing values from resident state
res_state_df_unknown = covid_data_df_dropped_columns_hospital_null.where(covid_data_df_dropped_columns_hospital_null.res_state!= 'Unknown')
res_state_df_missing = res_state_df_unknown.where(res_state_df_unknown.res_state!= 'Missing')
res_state_df_na = res_state_df_missing.where(res_state_df_missing.res_state!='NA')
res_state_df_null = res_state_df_na.where(res_state_df_na.res_state!='null')

In [15]:
#remove missing values from state res_county
res_county_df_unknown = res_state_df_null.where(res_state_df_null.res_county!='Unknown')
res_county_df_missing = res_county_df_unknown.where(res_county_df_unknown.res_county!='Missing')
res_county_df_na = res_county_df_missing.where(res_county_df_missing.res_county!='NA')
res_county_df_null = res_county_df_na.where(res_county_df_na.res_county!='null')

In [16]:
#remove missing values from state age_group
age_group_df_unknown = res_county_df_null.where(res_county_df_null.age_group!='Unknown')
age_group_df_missing = age_group_df_unknown.where(age_group_df_unknown.age_group!='Missing')
age_group_df_na = age_group_df_missing.where(age_group_df_missing.age_group!='NA')
age_group_df_null = age_group_df_na.where(age_group_df_na.age_group!='null')

In [17]:
#removes missing values from sex
sex_df_unknown = age_group_df_null.where(age_group_df_null.sex!='Unknown')
sex_df_missing = sex_df_unknown.where(sex_df_unknown.sex!='Missing')
sex_df_na = sex_df_missing.where(sex_df_missing.sex!='NA')
sex_df_null = sex_df_na.where(sex_df_na.sex!='null')

In [18]:
#removes missing values from race
race_df_unknown = sex_df_null.where(sex_df_null.race!='Unknown')
race_df_missing = race_df_unknown.where(race_df_unknown.race!='Missing')
race_df_na = race_df_missing.where(race_df_missing.race!='NA')
race_df_null =race_df_na.where(race_df_na.race!='null')

In [19]:
#removes missing values from ethnicity
ethnicity_df_unknown = race_df_null.where(race_df_null.ethnicity!='Unknown')
ethnicity_df_missing = ethnicity_df_unknown.where(ethnicity_df_unknown.ethnicity!='Missing')
ethnicity_df_na = ethnicity_df_missing.where(ethnicity_df_missing.ethnicity!='NA')
ethnicity_df_null =ethnicity_df_na.where(ethnicity_df_na.ethnicity!='null')

In [20]:
provisional_df = ethnicity_df_null.dropna()
provisional_df.show()

+---------+------------+--------------+------+--------------------+-------------------+-------+
|res_state|  res_county|     age_group|   sex|                race|          ethnicity|hosp_yn|
+---------+------------+--------------+------+--------------------+-------------------+-------+
|       NJ|      CAMDEN|18 to 49 years|Female|               Black|    Hispanic/Latino|     No|
|       NJ|      HUDSON|18 to 49 years|Female|               Black|    Hispanic/Latino|     No|
|       VA|NORFOLK CITY|18 to 49 years|Female|      Multiple/Other|    Hispanic/Latino|     No|
|       FL|    HERNANDO|  0 - 17 years|Female|               White|    Hispanic/Latino|     No|
|       OH|      BUTLER|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       FL|      HENDRY|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       FL|      MONROE|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       FL|      DESOTO|  0 - 17 years|  Male|               White|    Hispanic/Latino|     No|
|       ID|      JEROME|18 to 49 years|  Male|               White|    Hispanic/Latino|     No|
|       KY|      WARREN|18 to 49 years|  Male|               White|    Hispanic/Latino|     No|
|       TN|      SHELBY|18 to 49 years|Female|               Black|Non-Hispanic/Latino|     No|
|       CA|   SAN DIEGO|18 to 49 years|  Male|               White|Non-Hispanic/Latino|     No|
|       CA|     VENTURA|  0 - 17 years|Female|American Indian/A...|    Hispanic/Latino|     No|
|       MI|       WAYNE|18 to 49 years|Female|      Multiple/Other|    Hispanic/Latino|    Yes|
|       FL|    OKALOOSA|18 to 49 years|  Male|      Multiple/Other|    Hispanic/Latino|     No|
|       NC|    CALDWELL|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       NC|     CATAWBA|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       KS|     DOUGLAS|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       VA|   FREDERICK|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
|       FL|        LEON|18 to 49 years|Female|               White|    Hispanic/Latino|     No|
+---------+------------+--------------+------+--------------------+-------------------+-------+
only showing top 20 rows

In [ ]:
#count number of records in provisional df
provisional_df.count()

6952336

In [21]:
#create virginia subset dataframe
virginia_df= provisional_df.where(provisional_df.res_state=='VA')
virginia_df.show()
virginia_df.count()

+---------+--------------------+--------------+------+--------------+---------------+-------+
|res_state|          res_county|     age_group|   sex|          race|      ethnicity|hosp_yn|
+---------+--------------------+--------------+------+--------------+---------------+-------+
|       VA|        NORFOLK CITY|18 to 49 years|Female|Multiple/Other|Hispanic/Latino|     No|
|       VA|           FREDERICK|18 to 49 years|Female|         White|Hispanic/Latino|     No|
|       VA|             FAIRFAX|18 to 49 years|  Male|         Black|Hispanic/Latino|     No|
|       VA|            CULPEPER|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|           ALBEMARLE|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|     CHESAPEAKE CITY|18 to 49 years|Female|Multiple/Other|Hispanic/Latino|     No|
|       VA|            FAUQUIER|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|       RICHMOND CITY|18 to 49 years|Female|         White|Hispanic/Latino|     No|
|       VA|CHARLOTTESVILLE CITY|18 to 49 years|Female|         White|Hispanic/Latino|     No|
|       VA|            ACCOMACK|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|        NORFOLK CITY|18 to 49 years|Female|Multiple/Other|Hispanic/Latino|     No|
|       VA|           FREDERICK|18 to 49 years|Female|         White|Hispanic/Latino|     No|
|       VA|            CULPEPER|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|           ALBEMARLE|18 to 49 years|  Male|         White|Hispanic/Latino|     No|
|       VA|     CHESAPEAKE CITY|18 to 49 years|Female|Multiple/Other|Hispanic/Latino|     No|
|       VA|             FAIRFAX|18 to 49 years|  Male|         Black|Hispanic/Latino|     No|
|       VA|       RICHMOND CITY|18 to 49 years|Female|         White|Hispanic/Latino|     No|
|       VA| VIRGINIA BEACH CITY|18 to 49 years|Female|         Black|Hispanic/Latino|     No|
|       VA|        HAMPTON CITY|18 to 49 years|Female|Multiple/Other|Hispanic/Latino|     No|
|       VA|CHARLOTTESVILLE CITY|18 to 49 years|Female|         White|Hispanic/Latino|     No|
+---------+--------------------+--------------+------+--------------+---------------+-------+
only showing top 20 rows

262838

In [ ]:
#create csv from Virginia dataframe
virginia_df.toPandas().to_csv('virginia_covid.csv')

In [22]:
# Configure settings for RDS 
mode = "append"
jdbc_url="jdbc:postgresql://database-1.cvyxzrizmaqm.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres", 
          "password": "83Mlyard", 
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write cleaned covid data df to table in RDS
provisional_df.write.jdbc(url=jdbc_url, table='cleaned_covid_data', mode=mode, properties=config)

In [23]:
# Write virginia  df to table in RDS
virginia_df.write.jdbc(url=jdbc_url, table='virginia_covid_data', mode=mode, properties=config)

In [24]:
# Create virginia county populatin df for database join
va_pop_df = spark.read.csv(SparkFiles.get("/content/US County Population.csv"), sep=",", header=True, inferSchema=True)
va_pop_df.show()

+------------+-------+
|      COUNTY|POP2020|
+------------+-------+
|    ACCOMACK|  32238|
|   ALBEMARLE| 110652|
|   ALLEGHANY|  14701|
|      AMELIA|  13014|
|     AMHERST|  31667|
|  APPOMATTOX|  16043|
|   ARLINGTON| 240119|
|     AUGUSTA|  76544|
|        BATH|   4119|
|     BEDFORD|  79811|
|       BLAND|   6239|
|   BOTETOURT|  33633|
|   BRUNSWICK|  16037|
|    BUCHANAN|  20613|
|  BUCKINGHAM|  17168|
|    CAMPBELL|  55304|
|    CAROLINE|  30860|
|     CARROLL|  30074|
|CHARLES CITY|   6821|
|   CHARLOTTE|  11820|
+------------+-------+
only showing top 20 rows

In [25]:
# Write virginia county pop  df to table in RDS
va_pop_df.write.jdbc(url=jdbc_url, table='county_population', mode=mode, properties=config)

In [31]:
#use sqlachemy to connect to database
from sqlalchemy import create_engine
db_string = f"postgresql://postgres:83Mlyard@database-1.cvyxzrizmaqm.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)
conn = engine.connect()
conn

In [59]:
#execute join
from sqlalchemy import join, column, MetaData, Table
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.sql import select
metadata = MetaData()
Base = automap_base()
va= Table('virginia_covid_data', Base.metadata,autoload=True, autoload_with=engine)
county2=Table('county_population', Base.metadata,autoload=True, autoload_with=engine)
join = va.join(county2, va.c.res_county == county2.c.COUNTY)
stmt = select([va.c.res_county, va.c.age_group, va.c.sex, va.c.race, va.c.ethnicity, va.c.hosp_yn, county2.c.POP2020]).select_from(join)
result = conn.execute(stmt)
#convert joined table to dataframe
import pandas as pd
df = pd.DataFrame(result, columns=['County','Age_Group', "Sex", "Race", "Ethnicity", "Hosp_yn", "Population"])
df.head()

          County       Age_Group  ... Hosp_yn Population
0      GOOCHLAND  18 to 49 years  ...     Yes      24431
1         WARREN  50 to 64 years  ...      No      40475
2     ROCKBRIDGE       65+ years  ...     Yes      22757
3      FREDERICK  18 to 49 years  ...      No      91119
4  PRINCE GEORGE  50 to 64 years  ...      No      38686

[5 rows x 7 columns]

In [62]:
#write dataframe to database
df.to_sql(name='joined_covid_data', con=engine, if_exists="replace", method='multi')